.draggable {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #02f;
  border: black 5 solid;
  position: relative;
  z-index: 0;
}
.dragged {
  z-index: 1000;
  background-color: #E6420B;
}
.enemy {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #02f;
  border: black 5 solid;
  position: relative;
  z-index: 0;
  -webkit-transition: -webkit-transform 1s;
}

.hit {
  background-color: #500
}

.game-over {
  height: 100%;
  width: 100%
  margin: 45%;
  font-family: Lucida Grande, Sans Serif;
  text-align: center;
  font-size: 50pt;
  z-index: 2000
}

.blast {
  height: 90px;
  width: 100px;
  background-image: url(./blast.png);
  background-repeat: none;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.2s;
}
